-- migration: 2026090901_add_usuario_id_to_access_points.sql
-- Add usuario_id to access_points table to link with auth.users

ALTER TABLE access_points 
ADD COLUMN usuario_id UUID REFERENCES auth.users(id);

CREATE INDEX idx_access_points_usuario_id ON access_points(usuario_id);
