-- migration: 2026090902_add_hashed_pin_to_internal_staff.sql
-- Add hashed_pin and pin_expires_at columns to internal_staff table

ALTER TABLE internal_staff 
ADD COLUMN hashed_pin TEXT;

ALTER TABLE internal_staff 
ADD COLUMN pin_expires_at TIMESTAMP WITH TIME ZONE;
