-- RLS policy for internal_staff: Allow staff to read their own PIN
CREATE POLICY "Allow staff to read own PIN" ON internal_staff
FOR SELECT USING (
  email = (SELECT email FROM user_profiles WHERE id = auth.uid())
  OR EXISTS (
    SELECT 1 FROM user_profiles 
    WHERE id = auth.uid() 
    AND role = 'admin'
    AND conjunto_id = internal_staff.conjunto_id
  )
);
