-- RLS Policies for authentication and permission improvements
-- To be applied manually via Supabase SQL Editor or fixed CLI

-- 1. Policy for internal_staff: Allow staff members to read their own hashed_pin
-- (matched by email from JWT to internal_staff.email)
-- Also allow admins of the same conjunto to read PINs
CREATE POLICY "staff_own_pin" ON internal_staff
FOR SELECT USING (
  email = auth.jwt() ->> ''email''
  OR EXISTS (
    SELECT 1 FROM user_profiles 
    WHERE id = auth.uid() 
    AND role = ''admin''
    AND conjunto_id = internal_staff.conjunto_id
  )
);

-- 2. Policy for access_points: Allow access point technical users to read their own data
-- (matched by auth.uid() to access_points.usuario_id)
CREATE POLICY "access_point_own_data" ON access_points
FOR SELECT USING (
  usuario_id = auth.uid()
  OR conjunto_id = get_my_conjunto_id()
);

-- 3. Policy for access_points: Allow access point users to update their own session data
CREATE POLICY "access_point_update_own" ON access_points
FOR UPDATE USING (
  usuario_id = auth.uid()
);

-- 4. Ensure existing policies also cover the new columns appropriately
-- The existing "Enable access for own conjunto" policies already cover:
-- - access_points (including new usuario_id column)
-- - internal_staff (including new hashed_pin and pin_expires_at columns)
-- - user_roles
-- - users
