-- RLS policy for internal_staff: Allow staff to read their own PIN via JWT email
CREATE POLICY "staff_own_pin" ON internal_staff
FOR SELECT USING (
  email = (auth.jwt() ->> ''email'')
  OR EXISTS (
    SELECT 1 FROM user_profiles 
    WHERE id = auth.uid() 
    AND role = ''admin''
    AND conjunto_id = internal_staff.conjunto_id
  )
);
