-- =============================================
-- RLS POLICIES FOR PAIC AUTHENTICATION IMPROVEMENTS
-- Apply via Supabase Dashboard > SQL Editor
-- =============================================

-- 1. INTERNAL_STAFF: Allow staff to read their own hashed_pin
-- Also allow admins of the same conjunto to read PINs
-- =============================================
DROP POLICY IF EXISTS "staff_own_pin" ON internal_staff;

CREATE POLICY "staff_own_pin" ON internal_staff
FOR SELECT USING (
  email = (auth.jwt() ->> ''email'')
  OR EXISTS (
    SELECT 1 FROM user_profiles 
    WHERE id = auth.uid() 
    AND role = ''admin''
    AND conjunto_id = internal_staff.conjunto_id
  )
);

-- 2. ACCESS_POINTS: Allow access point technical users to read their own data
-- Matched by auth.uid() to access_points.usuario_id
-- =============================================
DROP POLICY IF EXISTS "access_point_own_data" ON access_points;

CREATE POLICY "access_point_own_data" ON access_points
FOR SELECT USING (
  usuario_id = auth.uid()
  OR conjunto_id = get_my_conjunto_id()
);

-- 3. ACCESS_POINTS: Allow access point users to update their own session data
-- =============================================
DROP POLICY IF EXISTS "access_point_update_own" ON access_points;

CREATE POLICY "access_point_update_own" ON access_points
FOR UPDATE USING (
  usuario_id = auth.uid()
);

-- 4. VISITOR_LOGS: Allow access point users to insert logs for their punto_acceso
-- =============================================
DROP POLICY IF EXISTS "access_point_visitor_logs" ON visitor_logs;

CREATE POLICY "access_point_visitor_logs" ON visitor_logs
FOR INSERT WITH CHECK (
  EXISTS (
    SELECT 1 FROM access_points 
    WHERE id = visitor_logs.access_point_id 
    AND usuario_id = auth.uid()
  )
);

-- 5. PACKAGE_LOGS: Allow access point users to insert package logs
-- =============================================
DROP POLICY IF EXISTS "access_point_package_logs" ON package_logs;

CREATE POLICY "access_point_package_logs" ON package_logs
FOR INSERT WITH CHECK (
  EXISTS (
    SELECT 1 FROM access_points 
    WHERE id = package_logs.access_point_id 
    AND usuario_id = auth.uid()
  )
);

-- 6. AUDIT LOG TABLE (if exists): Dual tracking for operational actions
-- =============================================
-- Note: Create this table first if it doesn''t exist
-- CREATE TABLE IF NOT EXISTS operational_audit_log (
--   id BIGSERIAL PRIMARY KEY,
--   punto_acceso_id INTEGER REFERENCES access_points(id),
--   personal_interno_name TEXT,
--   personal_interno_conjunto_id TEXT,
--   action TEXT NOT NULL,
--   created_at TIMESTAMPTZ DEFAULT now()
-- );
-- 
-- ALTER TABLE operational_audit_log ENABLE ROW LEVEL SECURITY;
-- 
-- CREATE POLICY "audit_log_insert" ON operational_audit_log
-- FOR INSERT WITH CHECK (
--   EXISTS (
--     SELECT 1 FROM access_points 
--     WHERE id = operational_audit_log.punto_acceso_id 
--     AND usuario_id = auth.uid()
--   )
-- );

-- =============================================
-- VERIFICATION QUERIES
-- =============================================
-- Run these after applying to verify policies:
-- SELECT schemaname, tablename, policyname, permissive, cmd, qual 
-- FROM pg_policies 
-- WHERE tablename IN (''internal_staff'', ''access_points'', ''visitor_logs'', ''package_logs'')
-- ORDER BY tablename, policyname;
